.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      justify-content: space-between;
      align-items: flex-start;
      
      flex-wrap: wrap;
  
      & .collection-item {
        margin-bottom: 30px;
        width: calc(75% - 10px);
      }
    }
  }

   /* Mobile styles - apply these for screens up to 768px wide */
@media (max-width: 768px) {
  .collection-page .title {
      font-size: 13px; /* Adjust font size for mobile */
      margin: 0 auto 10px; /* Adjust margin for mobile */
  }

  .collection-page .items {
    display: grid;
    align-items: flex-start;
      grid-template-columns: 1fr 1fr; /* Two columns on mobile */
      grid-gap: 8px; /* Adjust grid gap for mobile */
      justify-content: space-between; /* Center align items on mobile */
  }

  .collection-page .collection-item {
      width: 100%; /* Full width on mobile */
      margin-bottom: 20px; /* Adjust margin for mobile */
  }
}