.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 24px;
      height: 24px;
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 12px;
    }
  }

   /* Mobile styles - apply these for screens up to 768px wide */
@media (max-width: 768px) {
  .cart-icon {
    width: 35px; /* Adjust width for mobile */
    height: 35px; /* Adjust height for mobile */

    .shopping-icon {
      width: 20px; /* Adjust icon size for mobile */
      height: 20px; /* Adjust icon size for mobile */
    }

    .item-count {
      font-size: 8px; /* Adjust font size for mobile */
      bottom: 8px; /* Adjust position for mobile */
    }
  }
}
